.Titulo{
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
}
.Contenido{
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
}
.icon{
    padding-top: 18px;
    width: 30px;
    height: 45px;
}
.icon1{
    padding-top: 18px;
    width: 35px;
    height: 44px;
}
#mobile-demo  li a img.icon{
    margin-right: 27px;
}

#mobile-demo  li a img.icon1{
    margin-right: 15px;
}
.Slide{
    background-color: black;
    opacity: 0.75;
}
/*imagenes de las entradas del desayuno*/
.imgED1{
    background-image: url("../../images/desayuno/entradas/1.jpg");
    background-size: cover; 
}
.imgED2{
    background-image: url("../../images/desayuno/entradas/2.jpg");
    background-size: cover; 
}
.imgED3{
    background-image: url("../../images/desayuno/entradas/3.jpg");
    background-size: cover; 
}
.imgED4{
    background-image: url("../../images/desayuno/entradas/4.jpg");
    background-size: cover; 
}
.imgED5{
    background-image: url("../../images/desayuno/entradas/5.jpg");
    background-size: cover; 
}
/*imagenes de los platos fuertes del desayuno*/
.imgPFD1{
    background-image: url("../../images/desayuno/platoFuerte/1.jpg");
    background-size: cover; 
}
.imgPFD2{
    background-image: url("../../images/desayuno/platoFuerte/2.jpg");
    background-size: cover; 
}
.imgPFD3{
    background-image: url("../../images/desayuno/platoFuerte/3.jpg");
    background-size: cover; 
}
.imgPFD4{
    background-image: url("../../images/desayuno/platoFuerte/4.jpg");
    background-size: cover; 
}
.imgPFD5{
    background-image: url("../../images/desayuno/platoFuerte/5.jpg");
    background-size: cover; 
}
/*imagenes de los postres del desayuno*/
.imgPD1{
    background-image: url("../../images/desayuno/postres/1.jpg");
    background-size: cover; 
}
.imgPD2{
    background-image: url("../../images/desayuno/postres/2.jpg");
    background-size: cover; 
}
.imgPD3{
    background-image: url("../../images/desayuno/postres/3.jpg");
    background-size: cover; 
}
.imgPD4{
    background-image: url("../../images/desayuno/postres/4.jpg");
    background-size: cover; 
}
.imgPD5{
    background-image: url("../../images/desayuno/postres/5.jpg");
    background-size: cover; 
}
/*imagenes de las entradas de la comida*/
.imgEC1{
    background-image: url("../../images/comida/entradas/1.jpg");
    background-size: cover; 
}
.imgEC2{
    background-image: url("../../images/comida/entradas/2.jpg");
    background-size: cover; 
}
.imgEC3{
    background-image: url("../../images/comida/entradas/3.jpg");
    background-size: cover; 
}
.imgEC4{
    background-image: url("../../images/comida/entradas/4.jpg");
    background-size: cover; 
}
.imgEC5{
    background-image: url("../../images/comida/entradas/5.jpg");
    background-size: cover; 
}
/*imagenes de los platos fuertes de la comida*/
.imgPFC1{
    background-image: url("../../images/comida/platoFuerte/1.jpg");
    background-size: cover; 
}
.imgPFC2{
    background-image: url("../../images/comida/platoFuerte/2.jpg");
    background-size: cover; 
}
.imgPFC3{
    background-image: url("../../images/comida/platoFuerte/3.jpg");
    background-size: cover; 
}
.imgPFC4{
    background-image: url("../../images/comida/platoFuerte/4.jpg");
    background-size: cover; 
}
.imgPFC5{
    background-image: url("../../images/comida/platoFuerte/5.jpg");
    background-size: cover; 
}
/*imagenes de los postres de la comida*/
.imgPC1{
    background-image: url("../../images/comida/postres/1.png");
    background-size: cover; 
}
.imgPC2{
    background-image: url("../../images/comida/postres/2.jpg");
    background-size: cover; 
}
.imgPC3{
    background-image: url("../../images/comida/postres/3.jpg");
    background-size: cover; 
}
.imgPC4{
    background-image: url("../../images/comida/postres/4.jpg");
    background-size: cover; 
}
.imgPC5{
    background-image: url("../../images/comida/postres/5.jpg");
    background-size: cover; 
}
/*imagenes de las entradas de la cena*/
.imgECN1{
    background-image: url("../../images/cena/entradas/1.jpg");
    background-size: cover; 
}
.imgECN2{
    background-image: url("../../images/cena/entradas/2.jpg");
    background-size: cover; 
}
.imgECN3{
    background-image: url("../../images/cena/entradas/3.jpg");
    background-size: cover; 
}
.imgECN4{
    background-image: url("../../images/cena/entradas/4.jpg");
    background-size: cover; 
}
.imgECN5{
    background-image: url("../../images/cena/entradas/5.jpg");
    background-size: cover; 
}
/*imagenes de los platos fuertes de la cena*/
.imgPFCN1{
    background-image: url("../../images/cena/platoFuerte/1.jpg");
    background-size: cover; 
}
.imgPFCN2{
    background-image: url("../../images/cena/platoFuerte/2.jpg");
    background-size: cover; 
}
.imgPFCN3{
    background-image: url("../../images/cena/platoFuerte/3.jpg");
    background-size: cover; 
}
.imgPFCN4{
    background-image: url("../../images/cena/platoFuerte/4.jpg");
    background-size: cover; 
}
.imgPFCN5{
    background-image: url("../../images/cena/platoFuerte/5.jpg");
    background-size: cover; 
}
/*imagenes de los postres de la cena*/
.imgPCN1{
    background-image: url("../../images/cena/postres/1.jpg");
    background-size: cover; 
}
.imgPCN2{
    background-image: url("../../images/cena/postres/2.jpg");
    background-size: cover; 
}
.imgPCN3{
    background-image: url("../../images/cena/postres/3.jpg");
    background-size: cover; 
}
.imgPCN4{
    background-image: url("../../images/cena/postres/4.jpg");
    background-size: cover; 
}
.imgPCN5{
    background-image: url("../../images/cena/postres/5.jpg");
    background-size: cover; 
}